<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<Title><%=title%></Title>


<!--STYLESHEET-->
<!--=================================================-->

<!--Open Sans Font [ OPTIONAL ]-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


<!--Bootstrap Stylesheet [ REQUIRED ]-->
<link href="/UserAssets/css/bootstrap.min.css" rel="stylesheet">


<!--Nifty Stylesheet [ REQUIRED ]-->
<link href="/UserAssets/css/nifty.min.css" rel="stylesheet">


<!--Nifty Premium Icon [ DEMONSTRATION ]-->
<link href="/UserAssets/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
<link href="/UserAssets/plugins/dropzone/dropzone.min.css" rel="stylesheet">


<!--Demo [ DEMONSTRATION ]-->
<link href="/UserAssets/css/demo/nifty-demo.min.css" rel="stylesheet">
<!--JAVASCRIPT-->
<!--=================================================-->

<!--Pace - Page Load Progress Par [OPTIONAL]-->
<link href="/UserAssets/plugins/pace/pace.min.css" rel="stylesheet">
<script src="/UserAssets/plugins/pace/pace.min.js"></script>


<!--jQuery [ REQUIRED ]-->
<script src="/UserAssets/js/jquery.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="/UserAssets/js/bootstrap.min.js"></script>


<!--NiftyJS [ RECOMMENDED ]-->
<script src="/UserAssets/js/nifty.min.js"></script>
<script src="/UserAssets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/UserAssets/plugins/bootbox/bootbox.min.js"></script>
<script src="/UserAssets/js/demo/form-wizard.js"></script>
<script src="/UserAssets/plugins/dropzone/dropzone.min.js"></script>
<script src="/UserAssets/js/demo/form-file-upload.js"></script>





<!--=================================================-->

<!--Demo script [ DEMONSTRATION ]-->
<script src="/UserAssets/js/demo/nifty-demo.min.js"></script>