<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	
	<% include Partials/Headerlinks.ejs %>
</head>

<body class="header-fixed">

	<div class="wrapper">
		<% include Partials/Header.ejs %>
<!--=== End Slider ===-->

<!--=== Product Content ===-->
<div class="container content-md">
	<!--=== Illustration v1 ===-->
	<div class="row margin-bottom-60">
		<div class="col-md-6 md-margin-bottom-30">
			<div class="overflow-h">
				<div class="illustration-v1 illustration-img1">
					<div class="illustration-bg">
						<div class="illustration-ads ad-details-v1">
							<h3>NEW YEAR <strong>SALE</strong> 30% - 60% <strong>off</strong></h3>
							<a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="overflow-h">
				<a class="illustration-v1 illustration-img2" href="#">
					<span class="illustration-bg">
						<span class="illustration-ads ad-details-v2">
							<span class="item-time">Spring 2014</span>
							<span class="item-name">Lacoste</span>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div><!--/end row-->
	<!--=== End Illustration v1 ===-->

	<% include Partials/FeaturedProducts.ejs %>
	<!--=== End Illustration v2 ===-->

	<!--=== Illustration v3 ===-->
	<div class="row margin-bottom-50">
		<div class="col-md-4 md-margin-bottom-30">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img1" href="#">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">Men</span>
								<span class="product-amount">56 Items</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="col-md-4 md-margin-bottom-30">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img2" href="#">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">Women</span>
								<span class="product-amount">56 Items</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="overflow-h">
				<a class="illustration-v3 illustration-img3" href="#">
					<span class="illustration-bg">
						<span class="illustration-ads">
							<span class="illustration-v3-category">
								<span class="product-category">Children</span>
								<span class="product-amount">56 Items</span>
							</span>
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<!--=== End Illustration v3 ===-->

	<% include Partials/LatestProduct.ejs %>
	<!--=== End Illustration v2 ===-->
</div>
<!--=== End Product Content ===-->

<!--=== Twitter-Block ===-->
<div class="parallaxBg twitter-block margin-bottom-60">
	<div class="container">
		<div class="heading heading-v1 margin-bottom-20">
			<h2>Latest Tweets</h2>
		</div>

		<div id="carousel-example-generic-v5" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="0"></li>
				<li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="1"></li>
				<li class="rounded-x" data-target="#carousel-example-generic-v5" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner">
				<div class="item active">
					<p>Unify has reached 10000 plus sales and we just want to thank you to our all customers for being part of the Unify Template success <a href="http://bit.ly/1c0UN3Y">http://bit.ly/1c0UN3Y</a><p>
						<p><a href="https://twitter.com/htmlstream">@htmlstream</a></p>
						<ul class="list-inline twitter-icons">
							<li><a href="#"><i class="fa fa-reply"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
					<div class="item">
						<p>the majority have suffered #alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
						<p><a href="https://twitter.com/htmlstream">@twbootstrap</a></p>
						<ul class="list-inline twitter-icons">
							<li><a href="#"><i class="fa fa-reply"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
					<div class="item">
						<p>New 100% Free Stock Photos. Every. Single. Day. Everything you need for your creative projects. <a href="#">http://publicdomainarchive.com</a></p>
						<p><a href="https://twitter.com/htmlstream">@wrapbootstrap</a></p>
						<ul class="list-inline twitter-icons">
							<li><a href="#"><i class="fa fa-reply"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="carousel-arrow">
					<a class="left carousel-control" href="#carousel-example-generic-v5" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic-v5" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Twitter-Block ===-->

	<div class="container">
		<!--=== Product Service ===-->
		<div class="row margin-bottom-60">
			<div class="col-md-4 product-service md-margin-bottom-30">
				<div class="product-service-heading">
					<i class="fa fa-truck"></i>
				</div>
				<div class="product-service-in">
					<h3>Free Delivery</h3>
					<p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
					<a href="#">+Read More</a>
				</div>
			</div>
			<div class="col-md-4 product-service md-margin-bottom-30">
				<div class="product-service-heading">
					<i class="icon-earphones-alt"></i>
				</div>
				<div class="product-service-in">
					<h3>Customer Service</h3>
					<p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
					<a href="#">+Read More</a>
				</div>
			</div>
			<div class="col-md-4 product-service">
				<div class="product-service-heading">
					<i class="icon-refresh"></i>
				</div>
				<div class="product-service-in">
					<h3>Free Returns</h3>
					<p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
					<a href="#">+Read More</a>
				</div>
			</div>
		</div><!--/end row-->
		<!--=== End Product Service ===-->

		<!--=== Illustration v4 ===-->
		<% include Partials/Products.ejs %>
		<!--=== End Illustration v4 ===-->
	</div><!--/end cotnainer-->

	<!--=== Collection Banner ===-->
	<div class="collection-banner">
		<div class="container">
			<div class="col-md-7 md-margin-bottom-50">
				<h2>Makeup collection</h2>
				<p>Duis in posuere risus. Vivamus sed dignissim tellus. In vehicula justo tempor commodo. <br> Nunc lobortis dapibus neque quis lacinia</p><br>
				<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
			</div>
			<div class="col-md-5">
				<div class="overflow-h">
					<span class="percent-numb">50</span>
					<div class="percent-off">
						<span class="discount-percent">%</span>
						<span class="discount-off">off</span>
					</div>
					<div class="new-offers shop-bg-green rounded-x">
						<p>new</p>
						<span>Products</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Collection Banner ===-->

	<!--=== Sponsors ===-->
	<div class="container content">
		<div class="heading heading-v1 margin-bottom-40">
			<h2>Sponsors</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio elit, ultrices vel cursus sed, placerat ut leo. Phasellus in magna erat. Etiam gravida convallis augue non tincidunt. Nunc lobortis dapibus neque quis lacinia. Nam dapibus tellus sit amet odio venenatis</p>
		</div>

		<ul class="list-inline owl-slider-v2">
			<li class="item first-child">
				<img src="assets/img/clients/07.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/08.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/10.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/11.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/09.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/12.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/07.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/08.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/09.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/10.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/11.png" alt="">
			</li>
			<li class="item">
				<img src="assets/img/clients/12.png" alt="">
			</li>
		</ul><!--/end owl-carousel-->
	</div>
	<!--=== End Sponsors ===-->

	<!--=== Shop Suvbscribe ===-->
	<div class="shop-subscribe">
		<div class="container">
			<div class="row">
				<div class="col-md-8 md-margin-bottom-20">
					<h2>subscribe to our weekly <strong>newsletter</strong></h2>
				</div>
				<div class="col-md-4">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email your email...">
						<span class="input-group-btn">
							<button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div><!--/end container-->
	</div>
	<!--=== End Shop Suvbscribe ===-->

	<!--=== Footer v4 ===-->
	<% include Partials/Footer.ejs %>
	<!--=== End Footer v4 ===-->
</div><!--/wrapper-->

<!-- Wait Block -->
<div class="g-popup-wrapper">
	<div class="g-popup g-popup--discount2">
		<div class="g-popup--discount2-message">
			<h3>Want 10% Off?</h3>
			<h4>You Are Fabulous!</h4>
			<p>Get 10% Off Your Next Purchase! Just Type Email Below!</p>

			<form action="#" class="sky-form">
				<label class="input">
					<input type="email" placeholder="Email" class="form-control">
				</label>
				<label class="input">
					<button class="btn btn-default" type="button">Subscribe</button>
				</label>
			</form>
		</div>
		<img src="assets/img/blog/26.jpg" alt="ALT" width="270">
		<a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
	</div>
</div>
<!-- End Wait Block -->
<% include Partials/FooterLinks.ejs %>
<script>
	jQuery(document).ready(function() {
		App.init();
		App.initScrollBar();
		App.initParallaxBg();
		OwlCarousel.initOwlCarousel();
		RevolutionSlider.initRSfullWidth();
		StyleSwitcher.initStyleSwitcher();
	});
</script>
</body>
</html>
